<div class="ui inverted segment">
  <div class="ui inverted secondary pointing menu container">
    <a class="item" href="/">
      Home
    </a>
    <div class="right menu">
        <% if(!currentUser){%>
          <a class="item" href="/register">
              register
          </a>
          <a class="item" href="/login">
              login 
          </a>
        <%}else{%>
          <form action="/logout" method="GET">
              <button class="item">logout</button>
          </form>
        <%}%>
    </div>
  </div>
</div>