<div class="ui inverted segment">
  <div class="ui inverted secondary pointing menu container">
    <a class="item" href="/">
      Home
    </a>
    <div class="right menu">
        <a class="item" href="/register">
            register
        </a>
        <a class="item" href="/login">
            login 
        </a>
        <a href="/logout" class="item">
            logout
        </a>
    </div>
  </div>
</div>