<% layout('layouts/boilerplate') %>
<form action="/farms/<%=farm._id%>?_method=PUT" method="POST">
    <div>
        <label for="name">Name</label>
        <input type="text" id="name" name="farm[name]" value="<%=farm.name%>"/>
    </div>
     <div>
        <label for="location">Location</label>
        <input type="text" id="location" name="farm[location]" value="<%=farm.location%>"/>
    </div>
    <button>update farm</button>
</form>