<% layout('layouts/boilerplate') %>
<div class="row">
    <div class="col-6 offset-3">
        <div class="card">
            <div class="card-body">
                <ul class="list-group">
                    <% for(farm of farms){ %>
                        <li class="list-group-item"><a href="farms/<%=farm._id%>"><%= farm.name%></a>
                            <span class="badge bg-primary rounded-pill"><%=farm.products.length%></span>
                        </li>
                        <%}%>
                    </ul>
            </div>
        </div>
    </div>
</div>