<% layout('layouts/boilerplate') %>
<div class="card">
    <div class="card-header">
        <h1 class="display-6 text-center">add new farm</h1>
    </div>
    <div class="card-body">
        <form action="/farms" method="POST">
            <div class="form-group">
                <label for="name" class="form-label">Name</label>
                <input class="form-control" type="text" id="name" name="farm[name]"/>
            </div>
            <div class="form-group">
               <label for="location" class="form-label">Location</label>
               <input class="form-control" type="text" id="location" name="farm[location]"/>
            </div>
            <button class="btn btn-primary mt-2">add farm</button>
        </form>
    </div>
</div>