<% layout('layouts/boilerplate') %>
<div class="row">
    <div class="col-6 offset-3">
        <div class="card">
            <div class="card-body">
                <ul class="list-group">
                    <% for(let product of products) {%>
                        <li class="list-group-item"><%=product.name%></li>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
</div>